name: Java CI with Maven

on:
  push:

env:
  DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
  DOCKER_ORGANIZATION: philipssoftware
  GITHUB_ORGANIZATION: philips-software

jobs:
  build-and-test:
    name: Build maven project

    runs-on: ubuntu-latest

    steps:
      - name: Checkout 
        uses: actions/checkout@v2

      - uses: actions/setup-java@v1
        with:
          java-version: '11.0.1'

      - name: Cache build artifacts
        uses: actions/cache@v2.1.3
        with:
          path: |
            target/**/*.xml
            target/*.jar
          key: bom-bar-${{ github.sha }}

      - name: Build with Maven
        run: mvn install

      - name: Test with Maven
        run: mvn test
      
      - name: Install with Maven
        run: mvn install

  create-docker-image:
    name: "Create docker image"
    needs: build-and-test

    runs-on: ubuntu-latest

    if: success()

    steps:
      - name: Checkout

        uses: actions/checkout@v2

      - name: Cache build artifacts
        uses: actions/cache@v2.1.3
        with:
          path: |
            target/**/*.xml
            target/*.jar
          key: bom-bar-${{ github.sha }}

      - name: Build Docker Images
        uses: philips-software/docker-ci-scripts@v3.2.1
        with:
          dockerfile: docker/Dockerfile
          image-name: bom-bar 
          tags: 0 0.2 0.2.0 v0.2.0 latest
